*
{
    background-color: palevioletred;
}

h1
 {
    
    font-family: monospace , Courier ;
    text-align: center;
    background-color: bisque;
    color: maroon;
}

h3
 {
  font-family: monospace , Courier;
  text-align: center;
  background-color: bisque;
  color: maroon;
}

.list {
    background-color: whitesmoke;
    color: maroon;
    text-align: center;
}

.ack
{
    background-color: whitesmoke;
    text-align: center;
    color: maroon;
    
}

div 
{
    background-color: whitesmoke;
}