*
{
    background-color: palevioletred;
}

h1
 {
    font-family: monospace;
    text-align: center;
    background-color: bisque;
    color: maroon;
}

h3
 {
  font-family: monospace;
  text-align: center;
  background-color: bisque;
  color: maroon;
}

.list {
    background-color: whitesmoke;
    color: maroon;
    text-align: center;
}